<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-content>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-content>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}} />
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list fxLayout="column" fxLayoutGap="50px">
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish['comments']">
        <p matLine>
          <span>
            --{{comment.comment}} <br/> 
            {{comment.rating}} Stars <br />
            --{{comment.author}} {{comment.date | date}}
            <br />
          </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

</div>